button{
    border:none;
    height:100px;
    width:350px;
    top:200px;
    left:100px;
    font-size: 40px;
    font-weight: bold;
    background-color: red;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 2px black;
    color:white;
    position: absolute;
}
button:nth-child(2){
    left:500px;
}

button:nth-child(3){
    left:900px;
}
button:active{
    box-shadow: 5px 5px 0px 0.3px black;
}